.mb-keyboard-theme-numeric {
  border-top: 1px solid $neutral300;

  & .mb-row,
  & .mb-column {
    flex-grow: initial;
    flex-shrink: initial;
    align-items: initial;
    justify-content: initial;
    flex-direction: initial;
  }

  &.mb-layout-vertical {
    & .mb-columns {
      table-layout: fixed;
      display: table;
      width: 75%;
    }

    & .mb-column {
      display: table-row;

      &,
      &:not(:last-child) {
        margin: 0;
      }

      & .mb-button {
        display: table-cell;
        height: 54px;
        margin: 0;
        font-size: 18px;
        border-radius: 2px;
        vertical-align: middle;
        flex: none;

        & span {
          line-height: 36px;
        }

        &.mb-standard-btn span {
          color: $neutral700;
        }

        &:not(.mb-active) {
          background-color: transparent;
        }
      }

      & .mb-button:not(:last-child) {
        margin-bottom: 0;
      }
    }

    & .mb-column,
    & .mb-columns {
      margin: 0;
    }
  }

  &.mb-layout-horizontal {
    & .mb-rows {
      table-layout: fixed;
      display: table;
      width: 100%;
    }

    & .mb-row {
      display: table-row;

      &,
      &:not(:last-child) {
        margin: 0;
      }

      & .mb-button {
        display: table-cell;
        height: 54px;
        margin: 0;
        font-size: 18px;
        border-radius: 2px;
        vertical-align: middle;
        flex: none;

        & span {
          line-height: 36px;
        }

        &.mb-standard-btn span {
          color: $neutral700;
        }

        &:not(.mb-active) {
          background-color: transparent;
        }
      }

      & .mb-button:not(:last-child) {
        margin-bottom: 0;
      }
    }

    & .mb-row,
    & .mb-rows {
      margin: 0;
    }
  }

  /* Uncomment for draw outline around the button */
  /* &.debug .mb-button {
    outline: 0.1px solid red;
  } */
}

.mb-keyboard-theme-default,
.mb-keyboard-theme-numeric {
  & .mb-button {
    background-color: transparent;
    box-shadow: none !important;
    border: none !important;

    &.mb-active {
      background-color: $neutral300;
    }
  }
}
