*,
*::after,
*::before {
  box-sizing: border-box;
}

*::after,
*::before,
*:not(input),
*:not(code) input[type='checkbox'],
input[type='radio'] {
  // Remove orange selection
  outline: none;

  /* user-select: none; */
}

*:focus {
  outline: none !important;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: $text-color;
  font-family: $mamba-font-family;
  font-size: $mamba-font-size-default;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857142857143;
}

// Others
small {
  font-size: 12px;
}

var,
address,
dfn,
cite {
  font-style: italic;
}

abbr {
  border-bottom: 1px #ccc dotted;
  cursor: help;
}
