@import '../node_modules/@mamba/styles-utils/src/icons.scss';

.mb-icon {
  display: inline-block;
  width: $mb-icon-size;
  height: $mb-icon-size;
  background-color: $mb-icon-color;
  font-size: 24px;
  mask-size: cover;
  mask-repeat: no-repeat;

  &.mb-large {
    width: $mb-icon-size-large;
    height: $mb-icon-size-large;
  }

  &.mb-mini {
    width: $mb-icon-size-mini;
    height: $mb-icon-size-mini;
  }

  &.mb-icon-wifi-3 {
    @extend .mb-icon-wifi;

    background-color: $mb-icon-color !important;
  }

  &.mb-icon-wifi-2 {
    @extend .mb-icon-wifi;

    background: linear-gradient(
      to top,
      #9f9f9f 37%,
      $mb-icon-color 0%
    ) !important;
  }

  &.mb-icon-wifi-1 {
    @extend .mb-icon-wifi;

    background: linear-gradient(
      to top,
      #9f9f9f 60%,
      $mb-icon-color 0%
    ) !important;
  }

  &.mb-icon-wifi-0 {
    @extend .mb-icon-wifi;

    background-color: #9f9f9f !important;
  }
}

@each $mb-icon in $icon-list {
  .mb-icon {
    &.mb-icon-#{$mb-icon} {
      mask-image: url(./assets/icons/#{$mb-icon}.svg);
    }
  }
}
