@import url('../../node_modules/prismjs/themes/prism.css');
@import url('../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css');

.code-block pre,
.code-block code {
  font-family: 'Source Code Pro', 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Ubuntu Mono', Menlo, Courier, monospace !important;
}

.code-block pre {
  line-height: 1;
}

.code-block code {
  position: relative;
  line-height: inherit;
}

pre code {
  color: #333;
}

code,
pre {
  font-size: 13px;
  font-weight: 600;
}

code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none;
}

code .token.atrule,
code .token.keyword,
code .token.tag {
  font-weight: 600;
}

code .token.keyword {
  color: #6772e5;
}

code.language-url,
code .token.function,
code .token.url {
  font-weight: 600;
  color: #3297d3;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: Source Code Pro, monospace !important;
  color: color-mod(#000c1d alpha(70%));
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}

.line-numbers .line-numbers-rows {
  border: none;
  width: 30px;
  top: 1px;
  left: -35px;
  line-height: 19px;
}

.line-numbers .line-numbers-rows span::before {
  color: #bec5ca;
}

.line-numbers.language-bash .line-numbers-rows span::before {
  content: '>';
}

.line-numbers.language-bash .line-numbers-rows span:first-child::before {
  content: '$';
}
