$mb-appbar-item-horizontal-margin: 8px !default;

$mb-appbar-background-color: $white !default;
$mb-appbar-border-color: $grey-light !default;

$mb-appbar-height: 36px !default;
$mb-appbar-font-size: 0.9rem !default;
$mb-appbar-font-color: $white !default;
