$mb-avatar-font-size: 1rem !default;
$mb-avatar-size: 40px !default;
$mb-avatar-size-large: 64px !default;
$mb-avatar-background-color: $grey-dark !default;
$mb-action-page-image-margin: 1.5em;
$mb-action-page-padding: 0.5em;
