$mb-button-border: none !default;
$mb-button-height: 40px !default;
$mb-button-padding: 0 36px !default;
$mb-button-horizontal-padding: 36px !default;
$mb-button-icon-padding: 2 * $mb-button-horizontal-padding / 2 + $mb-icon-size !default;
$mb-button-radius: 3px !default;
$mb-button-font-size: 1rem !default;
$mb-button-fixed-margin: 0.5em;
$mb-button-fixed-z-index: 9999;

$mb-button-background: $secondary-color !default;
$mb-button-background-hover: lighten($mb-button-background, 5%) !default;
$mb-button-color: $white !default;

// Mini
$mb-button-mini-height: 24px !default;
$mb-button-mini-padding: 0 8px !default;

// Large
$mb-button-large-height: $mb-button-height * 1.5 !default;

// Fab
$mb-button-fab-mini-size: 3em !default;
$mb-button-fab-size: 4.2em !default;
$mb-button-fab-large-size: 6em !default;

// Wire
$mb-button-wire-padding: 0 30px !default;
$mb-button-mini-wire-padding: 0 6px !default;

// Disabled styles
$mb-button-disabled-background: #dfdfdf !default;
$mb-button-disabled-color: #9f9f9f !default;
