$mb-collection-item-horizontal-padding: 10px !default;
$mb-collection-item-vertical-padding: 10px !default;

$mb-collection-background-color: $white !default;
$mb-collection-border-color: $grey-light !default;
