$black: #000 !default;
$white: #fff !default;
$transparent: transparent !default;

$blue: #2196f3 !default;
$blue-dark: #1565c0 !default;

$blue-grey-light: #90a4ae !default;
$blue-grey: #607d8b !default;
$blue-grey-dark: #455a64 !default;

$green: #4ebf1a !default;
$grean-light: #4caf50 !default;
$green-dark: #3da10f !default;
$green-payment: #429841 !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 55%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 96%) !default;

$purple: #ab47bc !default;
$purple-dark: #790e8b !default;
$purple-light: #df78ef !default;

$red: #ff1a1a !default;
$red-dark: #d50000 !default;

$teal: #19e3b1 !default;
$teal-dark: #00af98 !default;

$yellow: #f9a825 !default;
$yellow-dark: #f57f17 !default;

$stone-green: #4fb341 !default;
$stone-green-dark: #153522 !default;

// Standard colors
$text-color: rgba(0, 0, 0, 0.87) !default;
$primary-color: $green !default;
$primary-color-dark: $green-dark !default;
$primary-color-light: lighten($primary-color, 40%) !default;
$success-color: $green !default;
$error-color: $red !default;
$secondary-color: $primary-color !default;

$colors: (
  'black': $black,
  'white': $white,
  'transparent': $transparent,
  'blue': $blue,
  'blue-dark': $blue-dark,
  'blue-grey': $blue-grey,
  'blue-grey-dark': $blue-grey-dark,
  'green': $green,
  'green-dark': $green-dark,
  'green-payment': $green-payment,
  'grey': $grey,
  'grey-dark': $grey-dark,
  'grey-light': $grey-light,
  'red': $red,
  'red-dark': $red-dark,
  'purple': $purple,
  'purple-light': $purple-light,
  'purple-dark': $purple-dark,
  'yellow': $yellow,
  'yellow-dark': $yellow-dark,
  'primary-color-dark': $primary-color-dark,
  'primary-color-light': $primary-color-light,
  'success-color': $success-color,
  'error-color': $error-color,
  'secondary-color': $secondary-color,
);
// Standard
//'primary-color': $primary-color,
