$icon-list: (
  'account',
  'alert',
  'autorenew',
  'bookmark',
  'calendar',
  'check',
  'chevron-down',
  'chevron-left',
  'chevron-right',
  'chevron-up',
  'close-circle',
  'close',
  'credit-card',
  'delete',
  'eye-off',
  'eye',
  'floppy',
  'heart',
  'help-circle',
  'home',
  'information',
  'lock-open',
  'lock-stn-open',
  'lock-stn',
  'lock',
  'loop',
  'menu',
  'pencil',
  'plus',
  'printer-outline',
  'printer',
  'refresh',
  'settings',
  'signal-2g',
  'signal-3g',
  'signal-4g',
  'signal-hspa-plus',
  'signal-hspa',
  'signal-variant',
  'signal',
  'star-outline',
  'star',
  'wifi'
);

$mb-icon-size: 24px !default;
$mb-icon-size-large: 1.5 * $mb-icon-size !default;
$mb-icon-size-mini: $mb-icon-size / 1.5 !default;
$mb-icon-color: $grey-dark !default;
