$mb-input-container-label-margin: 0 0 1.8em 0;

$mb-input-container-vertical-padding: 10px;
$mb-input-container-horizontal-padding: 10px;

$mb-input-height: 26px !default;
$mb-input-password-height: 36px !default;

$mb-input-border-color: $grey-light !default;
$mb-input-carret-color: $grey !default;

$mb-input-valid-color: $green !default;
$mb-input-invalid-color: $red !default;
