$mb-progress-bar-color: $primary-color;
$mb-progress-bar-light-color: $primary-color-light;

$mb-circular-progress-color: $primary-color;
$mb-circular-progress-dark-color: $primary-color-dark;
$mb-circular-progress-border: 15px;
$mb-circular-progress-indeterminate-size: 52px;
$mb-circular-progress-determinate-size: $mb-circular-progress-indeterminate-size +
  2 * $mb-circular-progress-border;
