$mb-switch-checked-icon-bg: $grean-light !default;
$mb-switch-checked-bar-bg: rgba($green, 0.5) !default;
$mb-switch-unchecked-icon-bg: rgb(250, 250, 250) !default;
$mb-switch-unchecked-bar-bg: $grey !default;
$mb-switch-disabled-icon-color: $grey-light !default;
$mb-switch-disabled-bar-color: rgba($grey, 0.19) !default;
$mb-switch-label: $grey;
