$mb-switch-checked-icon-border: $green !default;
$mb-switch-checked-bar-bg: $green !default;
$mb-switch-unchecked-icon-bg: $white !default;
$mb-switch-unchecked-icon-border: $blue-grey-dark !default;
$mb-switch-unchecked-bar-bg: $blue-grey-dark !default;
$mb-switch-disabled-icon-border: $grey-light !default;
$mb-switch-disabled-bar-bg: rgba($grey, 0.19) !default;
$mb-switch-label: $grey;
