$font-path: '../fonts/Roboto/' !default;

$h1-font-size: 2rem !default;
$h2-font-size: 1.8rem !default;
$h3-font-size: 1.6rem !default;
$h4-font-size: 1.4rem !default;
$h5-font-size: 1.2rem !default;
$h6-font-size: 1rem !default;
$p-font-size: 1rem !default;
