table {
  border-collapse: collapse;
  width: 100%;
}

thead,
tbody,
tfoot {
  border-bottom: 2px solid #ebf0ed;
}

td,
th {
  border: none;
  padding: 16px 8px;
  text-align: left;
}

th {
  vertical-align: top;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

caption {
  margin-bottom: 8px;
  text-align: left;
}
