@import '@mamba/styles-utils/src/colors.scss';

.row {
  display: block;
  padding: 10px 20px;
  margin: 0;
  line-height: 1.5rem;
  background: $white;
  border-bottom: 1px solid $grey-lightest;
  color: $grey-dark;
}
