/* shared/sizes.css */

/* SideBar */

:root {
  /* Content */
  --content-width: 770px;

  /* Sidebar */
  --sidebar-min-width: 256px;
  --sidebar-width: 260px;
  --sidebar-position: sticky;

  /* Logo */
  --logo-container-top: 15px;
  --logo-container-right: 64px;
  --logo-container-size: 105px;
  --logo-svg-height: 90px;

  /* Nav */
  --nav-hr-border-color: rgba(120, 134, 156, 0.08);
  --nav-hr-border-width: 225px;
  --nav-width: 170px;
  --nav-top-position: 135px;
}
