/* shared/sizes.css */

/* SideBar */

:root {
  /* Content */
  --content-width: 770px;

  /* Sidebar */
  --sidebar-min-width: 256px;
  --sidebar-width: 260px;
  --sidebar-position: sticky;

  /* Nav */
  --nav-hr-border-color: rgba(120, 134, 156, 0.08);
  --nav-width: 170px;
  --nav-hr-border-width: var(--nav-width);
  --nav-top-position: 165px;

  /* Logo */
  --logo-container-top: 30px;
  --logo-container-size: 105px;
  --logo-container-right: calc(var(--nav-width) - var(--logo-container-size));
  --logo-svg-height: 90px;
}
